@model IEnumerable<Gnostica.Models.Deck>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData.ContainsKey("StatusMessage"))
{
    <h2>
        @TempData["StatusMessage"].ToString()
    </h2>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeckList.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeckList.Count)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Shuffle" asp-route-id="@item.ID">Shuffle</a>
                @* <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
